<?xml version="1.0"?>
<configuration
        xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add
		  name="JarvisDevelopment"
		  connectionString="Data Source=jarvisdevelopment.database.windows.net;Integrated Security=SSPI;Initial Catalog=JarvisDev;" />
	</connectionStrings>
	<appSettings/>
	<system.web>
	</system.web>
</configuration>